<!DOCTYPE html>
<html>
<head>
  <title>Password Email</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      color: #333333;
      margin: 0;
      padding: 0;
      background-color: #f2f2f2;
      max-width: 640px;
    }
    .container {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
    }
    .header {
      background-color: #e0e0e0;
      padding: 0;
      text-align: center;
    }
    .header img {
      width: 100%;
      height: auto;
    }
    .content {
      padding: 20px;
      line-height: 1.6;
    }
    .footer {
      text-align: center;
      padding: 20px;
      font-size: 14px;
    }
    .footer img {
      width: 100px;
      margin: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <!-- Header Section with Top Image -->
    <div class="header">
      <img src="cid:email-banner" alt="Header Image">
    </div>

    <!-- Main Content Section -->
    <div class="content">
      <p>Dear User,</p>
      <ol>
        <li>Did you forgot your password?</li>
        <li>Reset Using OTP: <strong>{{OTP}}</strong></li>
      </ol>

      <p><strong>If you encounter any issues or need further assistance, please do not hesitate to reach out to our support team at <a href="mailto:learninghubindia@visionfund.org">learninghubindia@visionfund.org</a></strong></p>
      
      <p><strong>We’re excited to support you on your learning journey. Happy studying!</strong></p>

      <div style="display: flex; justify-content: space-between;">
        <div>
          <p><strong>Best regards,</strong></p>
          <p>Vision Fund<br><a href="mailto:learninghubindia@visionfund.org">learninghubindia@visionfund.org</a></p>
        </div>
        <div>
          <img src="cid:email-logo" alt="Vision Fund Logo" style="width: 150px; margin-top: 20px;">
        </div>
      </div>
      
      <!-- Logo Section -->
     
    </div>

    <!-- Footer Section with App Links -->
    <div class="footer">
      <p style="font-weight: 600;">GET VISION FUND APP</p>
      <a href="#"><img src="cid:google" alt="Google Play"></a>
      <a href="#"><img src="cid:apple" style="margin-top: 0;" alt="App Store"></a>
    </div>
  </div>
</body>
</html>
